.game-table {
  height: 80%;
  background-color: RGB(20, 220, 110);
  border-radius: 110px;
  border: 15px solid RGB(50, 252, 141);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

