<div class="pot" *ngIf="_round">
  <p *ngIf="_round.pot !== 0">{{_round.pot}}</p>
</div>
<div class="game-table">
  <div *ngIf="room" class="room-name">{{room.name.toUpperCase()}}</div>
  <div class="cards">
    <app-card *ngIf="firstCard" [card]="_round.cards[0]"></app-card>
    <app-card *ngIf="!firstCard"></app-card>
    <app-card *ngIf="secondCard" [card]="_round.cards[1]"></app-card>
    <app-card *ngIf="!secondCard"></app-card>
    <app-card *ngIf="thirdCard" [card]="_round.cards[2]"></app-card>
    <app-card *ngIf="!thirdCard"></app-card>
    <app-card *ngIf="fourthCard" [card]="_round.cards[3]"></app-card>
    <app-card *ngIf="!fourthCard"></app-card>
    <app-card *ngIf="fifthCard" [card]="_round.cards[4]"></app-card>
    <app-card *ngIf="!fifthCard"></app-card>
  </div>
</div>
