@import "~src/styles.scss";

.game-table {
  height: 80%;
  background-color: darken($green, 17%);
  border-radius: 110px;
  border: 15px solid darken($green, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pot {
  position: relative;
  justify-content: center;
  align-items: center;
  p {
    background-color: #FFFFFF;
    width: 3rem;
    height: 2rem;
    border-radius: 25%;
    position: absolute;
    bottom: -28vh;
    left: 50%;
    margin-left: -1.5rem;
    padding: $inputPaddingH $inputPaddingV;
    text-align: center;
  }
}
