@import "../../../styles";

.friend-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  z-index: 5;
  position: absolute;
  background-color: lighten($background-color, 10%);
  top: 25px;
  width: 50vw;
  height: 35vh;
  border-radius: 1.5rem;

  h1 {
    margin-top: 20px;
    position: absolute;
    top: 0;
  }

  .friend-list {
    width: 70%;
    max-height: 270px;
    overflow: auto;
    margin-bottom: 30px;
    height: 100%;

    .friend-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      color: white;
      background: darken($background-color, 2%);
      font-size: 1.5rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      cursor: pointer;

      &:hover {
        background: darken($background-color, 3%);
      }
    }
  }

  .done {
    height: 4rem;
    border-radius: 0.15em;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    background-color: $green;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    min-width: 10rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 250px;

    position: absolute;
    bottom: 20px;
    &:hover {
      background: darken($green, 15%)
    }
  }
}
