<div class="actionbar">
  <div class="cards">
    <app-card class="player-card"></app-card>
    <app-card class="player-card"></app-card>
  </div>
  <div class="button-actions">
    <button (click)="playAct('CALL')" class="call">CALL</button>
    <button (click)="playAct('FOLD')" class="fold">FOLD</button>
  </div>
  <div class="raise">
    <button (click)="playAct('RAISE')" >RAISE</button>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [value]="sliderValue"
      (input)="sliderValue = $event.value"
      tickInterval="1000"
      min="0"
      max="100000"
      step="100"></mat-slider>
    <div class="slider-amount">{{sliderValue}}</div>
  </div>
</div>
