<div [className]="myTurn ? 'actionbar' : 'actionbar-disabled'">
  <p *ngIf="!myTurn">
    {{'BROTURN' | translate | uppercase}}
  </p>
  <div class="cards" *ngIf="player">
    <app-card class="player-card" [card]="player.firstCard"></app-card>
    <app-card class="player-card" [card]="player.secondCard"></app-card>
  </div>
  <div class="button-actions">
    <button *ngIf="!getPossibleActs()" (click)="playAct(actTypes.Call)" class="call">CALL</button>
    <button *ngIf="getPossibleActs()" (click)="playAct(actTypes.Check)" class="call">CHECK</button>
    <button (click)="playAct(actTypes.Fold)" class="fold">FOLD</button>
  </div>
  <div class="raise">
    <button *ngIf="!getPossibleActs()" (click)="playAct(actTypes.Raise)" >RAISE</button>
    <button *ngIf="getPossibleActs()" (click)="playAct(actTypes.Bet)" >BET</button>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [value]="sliderValue"
      (input)="sliderValue = $event.value"
      tickInterval="1000"
      min="0"
      max="100000"
      step="100"></mat-slider>
    <div class="slider-amount">{{sliderValue}}</div>
  </div>
</div>
