<div class="actionbar">
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="button-actions">
    <button class="call">CALL</button>
    <button class="fold">FOLD</button>
  </div>
  <div class="button-raise">
    <button>RAISE</button>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [(ngModel)]="myModel"
      tickInterval="1000"
      min="1"
      max="100000"></mat-slider>
    <div class="slider-amount">{{myModel}}</div>
  </div>
</div>
