@import "../../../styles";
@include custom_button

:host {
  min-height: 100%;
}

.chat-content {
  position: absolute;
  bottom: 3rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
  direction: rtl;

  .error {
    color: $red;
  }

  .message {
    color: $dark-gray;
    line-height: 2;
    background: $blue;
    padding: 0.1rem .7rem;
    border-radius: 1rem;
    margin: .3rem 0;
    direction: ltr;
  }

  .my-message {
    background: $green;
  }

  .system-message {
    align-self: center;
    background: none;
    color: white;
    font-size: .8rem;
  }
}

.chat-bottom {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    height: 3rem;
    border-radius: 0;
    font-size: 1rem;
    min-width: 0;
    padding: 0;
    width: 9rem;
  }

  input {
    height: 3rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green;
}
