<section class="chat-content" #chatScroll (scroll)="onScroll($event)">
  <div *ngIf="error" class="error">Something wen't wrong.</div>
  <div class="message" *ngFor="let message of messages"
       [class.my-message]="myMessage(message)"
       [class.system-message]="systemMessage(message)">
    {{myMessage(message) || systemMessage(message) ? '' : message.name + ': '}}{{message.content}}
  </div>
</section>

<section class="chat-bottom">
  <input type="text" [placeholder]="'ChatMessage your bros'" (keydown.enter)="sendMessage()" [(ngModel)]="inputMessage">
  <button (click)="sendMessage()">Send</button>
</section>
