@import "~src/styles.scss";

.empty-card {
  background-color: mix($darker-gray, transparent, 60%);
  height: 12vh;
  width: 8vh;
  position: relative;
  margin: 0.5vh;

  img {
    height: 100%;
  }
}
