<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>REGISTER</h1>

  <section class="email">
    <label>Email</label>
    <input type="text" name="email" formControlName="email" id="email" autocomplete="off">
    <div class="error"
         *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
      Email is required
    </div>
  </section>

  <section class="username">
    <label>Username</label>
    <input type="text" name="username" formControlName="username" id="username" autocomplete="off">
    <div class="error"
         *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
      Username is required
    </div>
    <div class="error" *ngIf="error">{{error}}</div>
  </section>

  <section class="password">
    <label>Password</label>
    <input type="password" name="password" formControlName="password" id="password" autocomplete="off">
    <div class="error"
         *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
      Password is required
    </div>
  </section>

  <button [disabled]="loginForm.invalid">
    REGISTER
  </button>


  <a class="no-account" routerLink="/login">
    I already have an account bro :-)
  </a>
</form>
