<h2>{{'GAMERULES' | translate | titlecase}}</h2>

<section class="grid">
  <section class="first-element">

    <form *ngIf="updateRoomForm" [formGroup]="updateRoomForm" (ngSubmit)="onSubmit()">

      <section class="inputfield">
        <label for="name">{{'ROOM NAME' | translate | titlecase}}</label>
        <input type="text" name="name" formControlName="name" id="name" autocomplete="off">
        <div class="error"
             *ngIf="updateRoomForm.controls['name'].hasError('required') && updateRoomForm.controls['name'].touched">
          {{'ROOMNAMEREQUIRED' | translate}}
        </div>
      </section>

      <section class="inputfield">
        <label for="maxPlayerCount">{{'MAXPLAYERCOUNT' | translate | titlecase}}</label>
        <select type="form-control" name="maxPlayerCount" formControlName="maxPlayerCount" id="maxPlayerCount">
          <option *ngFor="let number of maxPlayers" [ngValue]="number">{{number}}</option>
          <div class="error"
               *ngIf="updateRoomForm.controls['maxPlayerCount'].hasError('required') && updateRoomForm.controls['maxPlayerCount'].touched">
            {{'MAXPLAYERCOUNTREQUIRED' | translate}}
          </div>
        </select>
      </section>

      <section class="inputfield">
        <label for="smallBlind">{{'SMALLBLIND' | translate | titlecase}}</label>
        <input type="number" name="smallBlind" formControlName="smallBlind" id="smallBlind" autocomplete="off">
        <div class="error"
             *ngIf="updateRoomForm.controls['smallBlind'].hasError('required') && updateRoomForm.controls['smallBlind'].touched || updateRoomForm.controls['smallBlind'].hasError('min')">
          {{'SMALLBLINDREQUIRED' | translate}}
        </div>
      </section>

      <section class="inputfield">
        <label for="playDelay">{{'PLAYDELAY' | translate | titlecase}}</label>
        <input type="number" name="playDelay" formControlName="playDelay" id="playDelay" autocomplete="off">
        <div class="error"
             *ngIf="updateRoomForm.controls['playDelay'].hasError('required') && updateRoomForm.controls['playDelay'].touched || updateRoomForm.controls['playDelay'].hasError('min')">
          {{'PLAYDELAYREQUIRED' | translate}}
        </div>
      </section>

      <section class="inputfield">
        <label for="startingChips">{{'STARTINGCHIPS' | translate | titlecase}}</label>
        <input type="number" name="startingChips" formControlName="startingChips" id="startingChips" autocomplete="off">
        <div class="error"
             *ngIf="updateRoomForm.controls['startingChips'].hasError('required') && updateRoomForm.controls['startingChips'].touched || updateRoomForm.controls['startingChips'].hasError('min')">
          {{'STARTINGCHIPSREQUIRED' | translate}}
        </div>
      </section>

      <button [disabled]="updateRoomForm.invalid" [class.disabled]="!updateRoomForm.valid">
        {{'SAVE' | translate | titlecase}}
      </button>
    </form>
  </section>
  <section class="grid-save">
    <button class="btn" routerLink="/game-rooms">{{'BACK' | translate | titlecase}}</button>
  </section>
</section>
