@import "~src/styles.scss";

section {
  margin-top: 2rem;
}

button {
  margin-top: 2rem;
  width: 100%;
}

.disabled {
  background: #DDDDDD;
  cursor: not-allowed;
  &:hover {
    background: #DDDDDD;
  }
}

h2 {
  color: white;
  padding-top: 1rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  input {
    display: block;
    padding: $inputPaddingV $inputPaddingH;
    margin: .2rem 0;
    color: $dark-gray;
    width: 100%;
    font-family: inherit;
    font-size: $inputFontSize;
    font-weight: inherit;
    line-height: $inputLineHeight;
    border-radius: 0.4rem;

    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 3px solid $green;
    }
  }

  select {
    display: block;
    padding: $inputPaddingV $inputPaddingH;
    margin: .2rem 0;
    color: $dark-gray;
    width: 100%;
    font-family: inherit;
    font-size: $inputFontSize;
    font-weight: inherit;
    line-height: $inputLineHeight;
    border-radius: 0.4rem;

    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 3px solid $green;
    }
  }

  .error {
    color: $red;
    position: absolute;
  }
}
