<div (click)="handleClick()" class="bell-container">
  <img src="../../../assets/img/icons/bell.svg">
</div>

<section *ngIf="showBell" [@simpleFadeAnimation]="'in'" class="not-panel">
  <div class="not" *ngFor="let not of notifications; index as i">
    <img class="not-icon" src="../../../assets/img/icons/friend_request_icon.svg">
    <div class="info">
      <span class="message">{{not.message}}</span>
      <span class="time">{{formatTime(not.timestamp.toString())}}</span>
    </div>
    <img (click)="handleDelete(not.id)" class="del-icon" src="../../../assets/img/icons/delete.svg">
  </div>
  <span (click)="handleDeleteAll()" class="delete-all">Delete all notifications</span>
</section>




