@import "../../../styles";

.bell-container {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: darken($background-color, 10%);
  }

  &:active {
    background-color: darken($background-color, 20%);
  }

  img {
    margin-top: 5px;
    width: 25px;
    height: 25px;
  }
}

.not-panel {
  width: 500px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 5000; //for appearance in the front.
  box-shadow: 5px 5px 5px #222;
  overflow: auto;
  border-radius: 1rem;

  .not {
    display: flex;
    flex-direction: row;

    margin: 5px 10px;

    padding: 15px;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;

    .not-icon {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    .info {
      display: flex;
      flex-direction: column;

      .message {
        margin-top: 3px;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        vertical-align: center;
      }

      .time {
        font-size: 0.8rem;
        margin-top: 10px;
        font-weight: bold;
        color: #969696
      }
    }

    .del-icon {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-top: 10px;
    }

    &:hover {
      background-color: darken(#fff, 15%);
    }

    &:active {
      background-color: darken(#fff, 25%);
    }
  }
}
