<div class="grid-container" *ngIf="done">
  <button routerLink="/rooms" class="leave-button"><img src="../../../assets/img/icons/leave1.svg"></button>
  <app-player *ngFor="let player of getAllPlayers(); index as i" [class]="'grid-person grid-person-' + player.seatNumber"
              [userId]="player.userId"
  ></app-player>
  <div class="grid-tmiddle"></div>
  <app-chat class="grid-chat" *ngIf="room"
  [roomId]="room.roomId"></app-chat>
  <app-actionbar class="grid-actionbar"
                 *ngIf="room"
                 [roomId]="room.roomId"
  [round]="round"></app-actionbar>
  <app-game-table class="grid-item-table"></app-game-table>
</div>
