@import "~src/styles.scss";

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 25% 15% auto 15% 25%;
  grid-template-rows: 20% 20% 6% 20% 20% auto;
  grid-template-areas: ". . two . ." "three table table table four" "tmiddle table table table ." "five table table table six" "chat . one . ." "actionbar actionbar actionbar actionbar actionbar";
}

.grid-person {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-person-1 {
  grid-area: one;
  align-items: start;
}

.grid-person-2 {
  grid-area: two;
  align-items: end;
}

.grid-person-3 {
  grid-area: three;
  justify-content: flex-end;
}

.grid-person-4 {
  grid-area: four;
  justify-content: flex-start;
}

.grid-person-5 {
  grid-area: five;
  justify-content: flex-end;
}

.grid-person-6 {
  grid-area: six;
  justify-content: flex-start;
}

.grid-tmiddle {
  grid-area: tmiddle;
}

.grid-actionbar {
  grid-area: actionbar;
  background-color: $background-color-2;
}

.grid-item-table {
  grid-area: table;
  padding: 8vh 5vw 0;
}

.grid-chat {
  grid-area: chat;
  position: relative;
}

