@import "~src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  margin-top: 8rem;
  margin-bottom: 6rem;
  width: 90%;
  max-width: 500px;
}

.logout {
  position: absolute;
  top: 20px;
  left: 20px;

  i {
    color: white;
    cursor: pointer;

    &:hover {
      color: darken($green, 15%)
    }
  }
}
