
<img src="/assets/img/logos/logo-white.png"/>

<button *ngIf="!authorizationService.isAuthenticated()" routerLink="/login">LOGIN</button>

<button *ngIf="!authorizationService.isAuthenticated()" routerLink="/register">REGISTER</button>

<button *ngIf="authorizationService.isAuthenticated()" routerLink="/">JOIN ROOM</button>

<button *ngIf="authorizationService.isAuthenticated()" routerLink="/">STATS</button>

<button *ngIf="authorizationService.isAuthenticated()" routerLink="/">FRIENDS</button>

<button *ngIf="authorizationService.isAuthenticated()" routerLink="/">REPLAYS</button>

<button *ngIf="authorizationService.isAuthenticated()" routerLink="/">RANKINGS</button>
