.room {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 200px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 8rem;
  background-color: #505271;
  position: relative;
  border: 10px solid #3e405e;
  transition: .1s;
  cursor: pointer;
  user-select: none;

  span {
    position: absolute;
    color: white;
  }

  .name {
    top: 25px;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .price {
    top: 60px;
    align-self: center;
  }

  img {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .blinds {
    top: 95px;
    left: 70px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .blind-img {
    top: 125px;
    left: 70px;
  }

  .timer {
    top: 95px;
    left: 150px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .timer-img {
    top: 125px;
    left: 150px;
  }

  .capacity {
    top: 95px;
    right: 70px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .cap-img {
    top: 125px;
    right: 70px;
  }
}
