@import "../styles";
@include custom_button

.language {
  position: absolute;
  top: 1rem;
  right: 1rem;

  button {
    background: none;
    color: darken($background-color, 5%);
    width: auto;
    height: auto;
    margin: 0;
    min-width: 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0 0 .3rem;

    &:hover {
      color: darken($background-color, 50%);
    }
  }
}
