@import "~src/styles.scss";

.language {
  position: absolute;
  top: 20px;
  right: 20px;

  button {
    background-color: transparent;

    width: auto;
    height: auto;
    margin-right: 3px;
    min-width: 0;

    &:hover {
      background: darken($green, 15%)
    }
  }
}
