<div *ngIf="!homeVisible && hasAuthentication()" routerLink="/" class="home-container">
  <img src="../assets/img/icons/home.svg">
</div>
<header class="hotbar">
  <mat-progress-bar class="progress" mode="determinate" [value]="77"></mat-progress-bar>
  <h2 class="level-header">{{myself.level}}</h2>
  <app-notification *ngIf="hasAuthentication()"
                    [notifications]="newNotification"
                    (deleteEvent)="getAllNotifications()"
  ></app-notification>
  <button (click)="setLang('nl')">NL</button>
  <button (click)="setLang('en')">EN</button>
</header>

<notifier-container></notifier-container>
<router-outlet>
</router-outlet>
