@import "~src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  color: white;
  width: 35%;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  input {
    display: block;
    padding: $inputPaddingV $inputPaddingH;
    margin: .2rem 0;
    color: $dark-gray;
    width: 100%;
    font-family: inherit;
    font-size: $inputFontSize;
    font-weight: inherit;
    line-height: $inputLineHeight;
    border-radius: 0.4rem;
    outline: none;
    border: 2px solid transparent;
    &:focus {
      border: 3px solid $green;
    }
  }

  section {
    margin: 1rem 0;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a:first-of-type {
      background: $facebook-blue;
      color: white;
      &:hover {
        background: darken($facebook-blue, 15%)
      }
    }

    a {
      cursor: pointer;
      height: 4rem;
      background: white;
      border-radius: .4rem;
      width: 45%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-gray;
      &:hover {
        background: darken(white, 15%)
      }
    }

    img {
      padding-right: .5rem;
    }
  }
  .username, .password {
    align-self: flex-start;
    width: 100%;
  }

  .no-account {
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }

  .error {
    color: $red;
    position: absolute;
  }
}
