<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>LOGIN</h1>

  <section class="username">
    <label for="username">Username</label>
    <input type="text" name="username" formControlName="username" id="username" autocomplete="off">
    <div class="error"
         *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
      Username is required
    </div>
  </section>

  <section class="password">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" id="password" autocomplete="off">
    <div class="error"
         *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
      Password is required
    </div>
    <div class="error" *ngIf="error">{{error}}</div>
  </section>

  <button [disabled]="loginForm.invalid">
    LOGIN
  </button>

  <section class="social-media">
    <a (click)="signInWithFB()">
      <img src="assets/img/icons/icon-facebook.png" alt="FACEBOOK">
      Facebook
    </a>
  </section>

  <a class="no-account" routerLink="/register">
    I don't have an account bro :-(
  </a>
</form>
