@import "~src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  color: white;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;

  .room {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 200px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 8rem;
    background-color: #505271;
    position: relative;
    border: 10px solid #3e405e;
    transition: .1s;
    cursor: pointer;
    user-select: none;

    &:hover {
      transform: scale(1.05);
      border: 10px solid $green;
      background-color: darken($green, 15%);
    }

    span {
      position: absolute;
      color: white;
    }

    .name {
      top: 25px;
      align-self: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .price {
      top: 60px;
      align-self: center;
    }

    img {
      position: absolute;
      width: 30px;
      height: 30px;
    }

    .blinds {
      top: 95px;
      left: 70px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .blind-img {
      top: 125px;
      left: 70px;
    }

    .timer {
      top: 95px;
      left: 150px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .timer-img {
      top: 125px;
      left: 150px;
    }

    .capacity {
      top: 95px;
      right: 70px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .cap-img {
      top: 125px;
      right: 70px;
    }
  }
}

button {
  margin-bottom: 35px;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

