@import "../../../styles";

@include custom_button

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;
}

h2 {
  color: white;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;

  button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

