<h1>{{'ROOMSOVERVIEWTITLE' | translate | uppercase}}</h1>
<section class="rooms">
  <app-room-card *ngFor="let room of rooms; index as i" [routerLink]="[room.id]"
                 [room]="room"
  ></app-room-card>
</section>
<section class="nav">
  <button *ngIf="!inSettingMode" routerLink="/" class="nav-button">{{'BACK' | translate | titlecase}}</button>
  <button *ngIf="inSettingMode" routerLink="/rooms/private" class="nav-button">{{'BACK' | translate | titlecase}}</button>

  <button class="nav-button" *ngIf="isAdmin() || inSettingMode" routerLink="/game-rooms/add">{{'ADDROOM' | translate | titlecase}}</button>
  <button class="nav-button" *ngIf="!isAdmin() && !inSettingMode" routerLink="/rooms/private/settings">{{'SETTINGS' | translate | titlecase}}</button>
</section>



