@import "../../../styles";
@include custom_button

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.back-button {
  margin: 3rem 0;
}

h2 {
  color: white;
}

section {
  width: 70%;
  .friend-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    background: darken($background-color, 2%);
    font-size: 1.5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;

    .delete-friend {
      @extend button;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red;
      position: relative;
      margin: 0;
      min-width: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      &:hover {
        background-color: darken($red, 10%);
      }
      fa {
        display: block;
        transform: rotate(45deg);
      }
    }

    &:hover {
      background: darken($background-color, 3%);
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;

  button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
