
<h1>{{'FRIENDS' | translate | uppercase}}</h1>

<section>
  <div class="friend-row" *ngFor="let user of friends" [@simpleFadeAnimation]="'in'" routerLink="/user/{{user.id}}">
    {{user.username}}
    <div class="delete-friend" (click)="removeFriend(user.id)"><fa name="plus"></fa></div>
  </div>
</section>
<h2 *ngIf="friends.length <= 0">{{'NO_FRIENDS' | translate | titlecase}}</h2>

<section class="nav">
  <button class="back-button" routerLink="/">{{'BACK' | translate | titlecase}}</button>
  <button class="back-button" routerLink="/search">{{'SEARCH_USERS' | translate | titlecase}}</button>
</section>

