<h1>{{'SEARCH_USERS' | translate | uppercase}}</h1>

<section class="search-bar">
  <input type="text" placeholder="Search users" (keyup)="addToSubject()" [(ngModel)]="inputString">
  <button (click)="addToSubject()" class="search-button"><img src="../../../assets/img/icons/search.svg" alt="SEARCH">
  </button>
</section>

<section *ngIf="users.length > 0" class="results">
  <div *ngFor="let user of users; index as i ">
    <div class="image-wrapper">
      {{getInitials(user)}}
    </div>
    <span class="username-span" routerLink="/user/{{user.id}}">{{user.username}}</span>
    <button class="friend-button" *ngIf="checkShowButton(user)" (click)="addFriend(user)">Befriend bro</button>
  </div>
</section>
<h2 class="nothing-found" *ngIf="inputString && users.length <= 0">No bros :(</h2>

<button class="back-button" routerLink="/friends">{{'BACK' | translate | titlecase}}</button>

