:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: flex-end;
  width: 85%;
  margin: 20px;

  .search-button {
    width: 50px;
    height: 50px;
    margin-left: 15px;

    background-color: #44e2a8;
    border-radius: 50%;
    min-width: auto;
    position: relative;

    &:hover {
      background-color: #40c690;
    }

    &:active {
      background-color: #3fb47f;
      top: 0;
    }

    img {
      position: absolute;
      width: 30px;
      height: 30px;

      top: 10px;
      left: 10px;
    }
  }

  input {
    height: 50px;
    display: block;
    width: 100%;
    font-size: large;
    padding: 15px;
    border-radius: 1rem;
    border: none;
  }
}
