<h1>{{'ANNOUNCE SOMETHING' | translate | uppercase}}</h1>

<section class="message-bar">
  <input type="text" placeholder="Your message" [(ngModel)]="inputString">
  <button (click)="sendMessage()" class="message-button">SEND</button>
</section>

<h2 *ngIf="notifications.length > 0">Older messages</h2>
<h2 *ngIf="notifications.length <= 0">No older messages</h2>

<section class="message-section">
  <div class="message-row" *ngFor="let not of notifications" [@simpleFadeAnimation]="'in'" routerLink="/user/{{user.id}}">
    {{not.message}}
    <div class="delete-message" (click)="removeNotification(not.id)">
      <fa name="plus"></fa>
    </div>
  </div>
</section>
